.meme-generator {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.meme-layout {
    position: relative;
    max-width: 800px;
    width: fit-content;
    max-height: 70dvh;
    margin: 0 auto;
    background-color: white;

    .meme-image {
        max-height: inherit;
        aspect-ratio: 16 / 9;
        object-fit: fill;
        display: block;
    }

    .meme-text {
        position: absolute;
        bottom: 20px;
        padding: 8px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 48px;
        text-shadow: -1px 2px 2px black;
        font-family: "Lobster", cursive;
        text-align: center;
    }
}
