@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

html {
    margin: 0;
    font-family: "Lobster", cursive;
}

button {
    background-color: rgb(0, 255, 110);
    color: black;
    border-radius: 16px;
    border: none;
    padding: 8px 16px;
    width: fit-content;
    font-size: 16px;
    cursor: pointer;
}
